.about{
    height: 100vh;
    display: flex;
}

.about-left{
    flex: 1;
    display:flex;
    align-items: center;

}
.about-right{
    flex: 1;
    padding: 20px;
    
}
.about-card img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.about-text {
    width: 70%;
    margin: 0 auto;
    font-size: 22px;
    height: 300px;
}
.about-title{
    width: 70%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 40px;
}
@media only screen and (max-width: 700px) {
    .about{
        height: 100vh;
        
        flex-direction: column;
        margin-bottom: 900px;
    }
    .about-left{
        display: block;
    }
    
}