.about{
    height: 100vh;
    display: flex;
}

.about-left{
    flex: 1;
    display:flex;
    align-items: center;

}
.about-right{
    flex: 2;
    
   
    
}
.about-card img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.about-text {
    width: 50%;
    margin: 0 auto;
    font-size: 22px;
    height: 65vh;
    overflow-y: auto;
    margin-bottom: 20px;
    scroll-behavior: smooth;
    padding: 20px;
}
.about-title{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 40px;
}
@media only screen and (max-width: 700px) {
    .about{
        height: 100vh;
        
        flex-direction: column;
        margin-bottom: 900px;
    }
    .about-left{
        display: block;
    }
    .about-text {
        font-size: 20px;
        width: 90%;
    }
    
    
}