.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50vh;
  color: white;
}
.contact-back {
  background-color: rgb(35, 138, 223);
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 60vh;
  border: 1px solid black;
}
.contact-wrapper {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.contact-left {
  flex: 1;
 
}
.contact-right {
  flex: 1;
  flex-direction: column;
  display: flex;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  padding: 50px 20px;
  box-shadow: 1px 2px 6px 1px black;
}
.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-item {
  margin: 5px 0px;
  font-weight: 600;
  white-space: nowrap;
}
.contact-title {
  font-size: 60px;
  white-space: nowrap;
}
svg {
  margin-right: 10px;
}
input {
  width: 100% !important;

  height: 40px;
  border: none;
  border-bottom: solid 1px black;
  font-size: 14px !important;
}
input:active {
    border-style: none;
}

textarea {
  width: 100%;
}
.contact-item a {
    color: white !important;
    letter-spacing: 2px;
  }
.contact-item a:hover {
    color: rgb(147, 214, 235) !important;
    letter-spacing: 2px;
  }


@media only screen and (max-width: 800px) {
    .contact-back {
        height: 100vh;
    }
    
}
.thank {
    color: black;
}