.intro-box{
    display: flex;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: black;
}
.intro-right{
    flex: 1;
    
   
}
.intro-left{
    flex: 1;
    
    

}
.left-wrapper{
    padding: 120px;
}
.hello {
    font-size: 30px;
    font-weight: 300;
}
.intro-name{
font-size: 60px;
}
.intro-titles{
    height: 50px;
    overflow: hidden;
}
.title-item{
    height: 50px;
    font-size: 20px;
    font-style: bold;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
   
}
.title-wrapper{
    height: 100%;
    animation: titles 10s ease-in-out infinite alternate;
}
@keyframes titles {
25%{
        transform: translateY(-50px);
    }
    50%{transform: translateY(-100px);
    }
    75%{transform: translateY(-150px)
    }
    100%{transform: translateY(-150px)
    }
    
}
.image-intro {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.desc{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
}
.bg{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: rgb(11, 164, 224);
    color: white;
    z-index: -1;
    width: 100%;
    left: 0;
    height: 100%;
}
.desc{
    color: rgb(255, 255, 255);
    font-size: 18px;
    z-index: 1;
    padding-top: 60px;
    margin: 0 auto;
    position: relative;
}